body {
    display:flex;
    flex-direction: column;
    background-color:#4915f8;
    margin: 0px;
    font-family: Arial;
}

.header,
.content,
.footer,

.header {
    display: flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.content {
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top: 50px;
    height: 500px;
}

.content-column {
    display:flex;
    width: 300px;
    flex-grow:2;
    flex-direction: column;
    align-content:center;
    align-items:last baseline;
}
 
.content-column-para:nth-child(1) {
    flex-direction:column;
    height:200px;
}
     
.content-column-endorsements:nth-child(2) {
    flex-direction: column;
}

.gifpic {
    flex-direction:row;
    flex-grow:2;
 }  

.footer {
    display: flex;
    justify-content:center;
    align-items:center;
    color:white;
}

 .headphonegif {
    display:flex;
    flex-direction:column;
    width: 350px;
    padding: 50px;
    text-align:left;
    align-items:center;
    text-wrap:wrap;
 }

 .picture-threepng {
    display:flex;
    flex-direction:column;
    width: 350px;
    padding: 40px;
    align-items:center; 
 }

input [type='button'] {                                                                                                                                                                                                                
    color:white;
    font: large; 
}

a:visited {
    color:white
}
a:hover {
    color:red
}